.doctorDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.doctorDivHeading{
    margin-top: 2%;
    color: rgb(200, 200, 200);
}

.doctorFormDiv{
    width: 40%;
    margin: 2%;
}